.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    z-index: 11;
    background-color: white;
    padding: 50px;
    gap: 50px;
}
.menu__links{
display: flex;
flex-direction: column;
gap: 10px;
}
