.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    z-index: 0;
    border: 1px solid red
}
 .imageContainer{
    justify-self: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    overflow: hidden;
    z-index: 2;
}

.imageContainer:nth-child(1) {
    height: 80%;
    left: 0;
    align-self: center;
    z-index: 1;
    opacity: 0.7;
}

.imageContainer:nth-child(3) {
    height: 80%;
    right: 0;
    align-self: center;
    z-index: 1;
    opacity: 0.7;
}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttonNext{
    position: absolute;
    right: 18%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.buttonBack{
    position: absolute;
    left: 18%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


